<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTrade-Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{{ body }}}

    <footer>
        <div class="footer-link">
            <div class="navbar">
                <nav>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                    <li><a href="/customer-support">Customer Support</a></li>
                    <li><a href="/legal">Legal</a></li>
                </nav>
            </div>

            <div>
                <a class="track-order" href="/track-order">Track My Order</a>
            </div>
        </div>

        <p>copyright &copy; 2021 </p>
    </footer>
</body>

</html>