<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>eTrade-Project</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/products.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="main-container">
  <header class="header">
    <section class="container">

      <section class="navbar">
        <section class="logo">
          <img src="/image/logo.png" width="125px" />
        </section>
        <nav>
          <ul>
            <li><a href="/eTrade">Home</a></li>
            <li><a href="/eTrade/Products">Products</a></li>
            <li><a href="/eTrade/about-us">About</a></li>
            <li><a href="/eTrade/contact-us">Contact</a></li>
            <li><a href="">Account</a></li>
          </ul>
        </nav>
        <img src="/image/shopping-cart.png" width="30px" height="30px" alt="shopping cart icon" />
      </section>
    </section>
  </header>
  <main id="main">
    {{{ body }}}
  </main>
  <!--Footer-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Dowload Our App</h3>
          <p>Download for Android or IOS mobile phone.</p>
          <div class="app-logo">
            <img src="/image/google-badge.png" alt="google-badge" />
            <img src="/image/apple-badge.png" alt="apple-badge" />
          </div>
        </div>
        <div class="footer-col-2">
          <img src="/image.logo.png" alt="" />
          <p>
            Our goal is to create a very pleasant shopping experience for the
            public.
          </p>
        </div>
        <div class="footer-col-3">
          <h3>Useful Resources</h3>
          <ul>
            <li>Blog Post</li>
            <li>Coupons</li>
            <li>Return Policy</li>
            <li>Join Us</li>
          </ul>
        </div>
        <div class="footer-col-4">
          <h3>Follow Us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>

          </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">- Copyright 2021 -</p>
    </div>
  </footer>

  {{#if loggedIn}}
  <script src="/script/logout.js"></script>
  {{/if}}

  <script src="/script/app.js"></script>
</body>

</html>