<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTrade-Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 <header class="header">
     <section class="logo"></section>
 </header>
    
    <main id="content-wrap">
         {{{ body }}}

    </main>
   

    <footer id="footer">
        <section class="footer-link">
            <section class="navbar">
                <nav>
                    <li><a href="/eTrade/about-us">About Us</a></li>
                    <li><a href="/eTrade/contact-us">Contact Us</a></li>
                    <li><a href="/eTrade/customer-support">Customer Support</a></li>
                    <li><a href="/eTrade/legal">Legal</a></li>
                </nav>
            </section>

            <section>
                <a class="track-order" href="/eTrade/track-order">Track My Order</a>
            </section>
        </section>

        <p>copyright &copy; 2021 </p>
    </footer>
    {{#if loggedIn}}
    <script src="/script/logout.js"></script>
    {{/if}}

    <script src="/script/app.js"></script>
</body>

</html>