<section class="form-container">
    <h1>
        Logout?
    </h1>
    <section>
        <div class="submitBtnDiv">
            <input class="submitBtn" type="submit" id="goHome" value="Continue Shopping">
        </div>
        <div class="submitBtnDiv">
            <input class="submitBtn" type="submit" id="logout" value="Yes, log out">
        </div>
    </section>
</section>

<script src="/script/logout.js"></script>