<header>
    <div class="logo"></div>

    <div class="search-area">
        <input class="search-txt" type="search">
        <button class="btn-search" value="submit">Search</button>
    </div>
    <div class="user-login">
        <li>
            <a href="#">Sign in</a><span> or </span>
            <a href="#">register</a>
        </li>
    </div>
</header>

<main id="container">
    <div class="clothing">
        <div class="image-container">
            <img class="images" src="/image/mens-clothing.png" alt="mens clothing"><a href="/mens">Men's Clothing</a>
        </div>

        <div class="image-container">
            <img class="images" src="/image/womens-clothing.png" alt="womens clothing"><a href="/womens">Women's Clothing
                Clothing</a>
        </div>

        <div class="image-container">
            <img class="images" src="/image/kids-clothing.png" alt="kids clothing"><a href="/kids">Kids' Clothing</a>
        </div>

    </div>
    <div class="background-image">
        <img class="bg-image" src="./image/bg-image.png" alt="background logo">
    </div>

</main>