<header>
    <div class="logo"></div>

    <div class="search-area">
        <input class="search-txt" type="search">
        <button class="btn-search" value="submit">Search</button>
    </div>
    <div class="user-login">
        <li><a href="#">Sign in</a><span> or </span>
            <a href="#">register</a>
        </li>
    </div>
</header>

<main id="container">
    <div class="clothing">
        <a href="">Mens Clothing</a><a href="">Womens Clothing</a><a href="">Kids Clothing</a>
    </div>
    <div class="background-image">
        <img src="./image/shopping.jpeg" alt="">
    </div>

</main>