<section id="container">
    <section class="clothing">
        <section class="image-container">
            <img class="images" src="/image/mens-clothing.png" alt="mens clothing"><a class"clothing-link"
                href="/mens">Mens Clothing</a>
        </section>

        <section class="image-container">
            <img class="images" src="/image/womens-clothing.png" alt="womens clothing"><a class"clothing-link"
                href="/womens">Womens
                Clothing</a>
        </section>

        <section class="image-container">
            <img class="images" src="/image/kids-clothing.png" alt="kids clothing"><a class"clothing-link"
                href="/kids">Kids
                Clothing</a>
        </section>

    </section>
    <section class="background-image">
        <img class="bg-image" src="./image/bg-image.png" alt="background logo">
    </section>

</section>