
    <section>
         
        <div class="row">
          <div class="col-2 left">
            <h1>
              The Best Place To <br />
              Buy Online!
            </h1>
            <p class="sucess">
              Sucess is not always about greatness. It is about consistency.
              Consistent<br />hard work gains sucess. Greatness will come.
            </p>
            <a href="/eTrade/register" class="btn">Sign Up &#10174;</a>
          </div>
          <div class="col-2 right">
              <!-- Slider-->
              <img src="image/slider-2.jpeg" alt="">
          </div>
        </div>
      </section>
