<section class="title">
    <h1>Kids Clothing</h1>
</section>

<section class="clothing-area">

    <section class="box-container">
        {{#each products as |product|}}
        <section class="grid-box">
            <a href=""><img class="clothes-img" src="{{product.image}}" alt=""></a>
            <figcaption>{{product.name}} </figcaption>
            <p>Price: {{product.currency}} {{product.price}} </p>
        </section>
        {{/each}}
    </section>

</section>