{{!-- <section id="main-page">
    <section class="linked-page">
        <section class="img-logo"></section>
        <section class="linked-page-us">
            <h1>Legal</h1>

            <h3>Terms of Website Use</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto autem iste doloribus perferendis
                alias
                dolore, illum error aperiam eum voluptate? Tempore dolorem asperiores illo id pariatur ullam consequatur
                odio
                architecto. Rem, porro quod minima dicta autem tenetur illo quam hic? Rerum minus voluptatum reiciendis
            </p>

            <h3>Security</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nesciunt alias quia debitis distinctio
                ullam eaque exercitationem fuga aspernatur, odit repudiandae provident asperiores modi aliquid
                consequuntur,
                cumque tempora! Debitis molestiae in esse! Assumenda, harum accusantium! Tenetur delectus numquam nihil
                beatae, libero, quod voluptas earum expedita eveniet aliquam velit. Ipsum expedita iste suscipit autem
                facilis veritatis assumenda ipsa fugiat nobis nostrum.
            </p>

            <h3>Liability</h3>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat maiores eligendi esse error quidem? Fuga
                vero optio minima quibusdam dolor. Quibusdam incidunt qui esse error cum ea provident! Ullam aperiam
                cupiditate tenetur voluptates commodi, doloribus accusamus esse culpa sunt at illum excepturi nisi eaque
                sequi enim fugiat suscipit quibusdam aliquam!</p>

            <h3>Terms of Product Purchase</h3>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa esse quos, necessitatibus dignissimos
                temporibus laborum rem. Maiores sed tenetur distinctio? Libero dignissimos rerum earum recusandae at
                debitis, aliquid in quaerat ut et, quo quasi eos vero aspernatur! Natus dolore corrupti explicabo fugiat
                nulla laboriosam quae maiores doloribus aspernatur odit, iusto unde nihil, dolorem ea amet porro dolorum
                ipsum sunt sit similique aperiam! Sapiente nam autem deserunt cupiditate atque aut laboriosam repellat
                nesciunt at distinctio. Pariatur blanditiis exercitationem, perferendis nisi eius magni? Sequi dolores
                autem architecto voluptatum obcaecati? Cupiditate, consequatur fugiat neque in iusto impedit non minima,
                hic facilis quos eos ipsa. Repellendus consectetur quos sint tempore perferendis illum recusandae
                necessitatibus iste laudantium, minus odio et in! Fuga omnis impedit optio ad doloremque nisi facilis
                consectetur error in odio voluptas quidem architecto facere ea, iusto a nesciunt similique rem laborum
                sed soluta minima modi tempore! Vitae enim odio consectetur dignissimos architecto! Dolorem, ex voluptas
                quasi consectetur dicta dignissimos similique odit reprehenderit repellendus cum cupiditate optio
                commodi, inventore officiis. Dolor voluptatum reprehenderit ipsam pariatur, iste vero sed autem aperiam,
                consequuntur eum facere assumenda nesciunt! Atque, recusandae reprehenderit. Voluptatem odit possimus
                architecto eaque assumenda, saepe, quibusdam, repudiandae odio sunt quidem ullam beatae? Repudiandae,
                laboriosam, dignissimos esse aperiam cupiditate qui rem officia corporis a reprehenderit earum
                consectetur laborum harum doloremque dolorum aliquid dicta et cum debitis laudantium quisquam eum
                quibusdam ut! Vitae laboriosam explicabo sequi at eaque nihil, ea quisquam molestiae quis accusantium,
                quas fugiat. Nihil incidunt minima enim similique suscipit assumenda rem voluptas ipsam commodi placeat,
                deleniti ut illum. Aspernatur fugiat hic tempora doloremque nisi aperiam blanditiis sed, voluptates
                natus dolores illum et at? Suscipit ducimus fuga quod, necessitatibus laborum illum, amet enim, autem
                reiciendis numquam similique repellat blanditiis unde sint. Beatae amet ex id nesciunt ipsum veniam,
                molestias, voluptas eligendi dolor perspiciatis est alias eum, sapiente dolorem! Placeat alias illum
                accusamus doloremque quos quaerat recusandae excepturi, consequatur nihil illo ea impedit non quidem
                dolores numquam eos nesciunt quia sit fuga quam incidunt nisi. Eos aut vero eum quo similique obcaecati
                explicabo voluptatum nemo ad amet quibusdam, accusamus, fugit dignissimos impedit quasi eaque dolorem
                ipsum alias corporis veniam recusandae voluptas eveniet placeat. Fuga fugit consectetur facere
                cupiditate ab, expedita voluptatibus quis magni nostrum optio modi quisquam. Nam maxime cumque beatae at
                voluptatem necessitatibus nulla ipsum aliquam minus ratione quis ab ex odit voluptas nesciunt quam fuga
                inventore aut, ipsam asperiores autem magnam labore aperiam. Fugiat molestiae ipsa ab sed adipisci sint
                amet, quaerat, distinctio, nesciunt excepturi incidunt harum eius minima suscipit optio ratione odit a.
                Non doloremque eveniet impedit vel quasi? Temporibus aspernatur voluptate eos rerum modi accusamus nam
                velit iure sint, quia accusantium quas optio eum laborum natus vitae, labore reiciendis deleniti quam
                iusto corporis error voluptatibus. Accusamus, dolorem vel illo possimus, suscipit nulla earum itaque
                mollitia dignissimos in, natus soluta corrupti repellat molestiae et assumenda cum. Facilis, asperiores!
                Fugiat mollitia voluptatibus, error amet, harum perferendis commodi assumenda nihil quia, aperiam eius
                quos eveniet eos non eaque culpa ex sint architecto consectetur!</p>


        </section>
        <section class="back-home">
            <a href="/eTrade">Back to Home page</a>
        </section>
    </section>
    </section> --}}