<section class="form-container">

    <section>
        <h1>Login details</h1>
    </section>

    <fieldset>

        <div class="flex">
            <form id="login-form">
                <section class="form-group">
                    <input class="form-input" type="text" id="username" placeholder="Username" maxlength="50"
                        autocomplete="off">
                </section>
                <section class="form-group">
                    <input class="form-input" type="password" id="password" placeholder="Password" maxlength="15">
                </section>
                <div class="submitBtnDiv">
                    <input class="submitBtn" type="submit" id="login" value="Sign In">
                </div>
            </form>
        </div>


    </fieldset>


    <a style="text-decoration: underline;" href="/etrade/register">
        <p style="color: rgb(163, 13, 38);">Don't have an account? Register</p>
    </a>
</section>

<script src="/script/login.js"></script>