<section class="back-home">
    <a href="/eTrade">Back to Home page</a>
</section>


<section class="clothing-area">

    <section class="title">
        <h1>Mens Clothing</h1>
    </section>


    <section class="box-container">
        {{#each products as |product|}}
        <section class="grid-box">
            <a href=""><img class="clothes-img" src="{{product.image}}" alt=""></a>
            <figcaption>{{product.name}}</figcaption>
            <p>Price: {{product.price}} {{product.currency}}</p>
        </section>
        {{/each}}
    </section>

</section>