<!--Featured Categories-->
<div id="products">
<div class="categories">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <img src="/image/model-1.jpeg" alt="female-model" />
          </div>
          <div class="col-3">
            <img src="/image/Model-4.jpeg" alt="male-model" />
          </div>
          <div class="col-3">
            <img src="/image/model-3.png" alt="boy-model" />
          </div>
        </div>
      </div>
    </div>
    
    <div class="small-container">
      <h2 class="title">Featured Products</h2>
      <div class="row">
        <div class="col-4">
          <img src="/image/mens-jumper.png" width="230px" height="300px" alt="navy-blue-jumper" />
          <h4>Navy Blue Jumper</h4>
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$70.00</p>
        </div>
        <div class="col-4">
         <img src="/image/Women_dress.png" width="200px" height="300px" alt="navy-blue-jumper" />
          <h4>Colorful Floral Dress</h4>
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </div>
          <p>$150.00</p>
        </div>
        <div class="col-4">
          <img src="/image/mens-tshirt.png" width="230px" height="300px" alt="navy-blue-jumper" />
          <h4>Long Sleeve Polo Shirt</h4> </h4>
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$79.99</p>
        </div>
        <div class="col-4">
          <img src="/image/kids-jumper-b.png" width="230px" height="300px" alt="navy-blue-jumper" />
          <h4>Animals Theme Kids Jumper</h4>
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </div>
          <p>$30.00</p>
        </div>
      </div>
    </div>
</div>
    