<section class="form-container">
    <section>
        <h1>Register</h1>

    </section>

    <form id="register-form">
        <fieldset>
            {{!-- <legend>Personal Details:</legend> --}}
            <div class="flex">

                <div>
                    <section class="form-group">
                        <input class="form-input" type="text" id="username" placeholder="Username" autocomplete="off" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="password" id="password" placeholder="Password" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="text" id="firstname" placeholder="First Name" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="text" id="lastname" placeholder="last Name" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="text" id="phone" placeholder="Phone Number" />
                    </section>
                </div>

                <div>

                    <section class="form-group">
                        <input class="form-input" type="text" id="city" placeholder="City" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="text" id="Address1" placeholder="Address 1" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="text" id="Address2" placeholder="Address 2" />
                    </section>

                    <section class="form-group">
                        <input class="form-input" type="text" id="postcode" placeholder="Postcode" />
                    </section>
                </div>

            </div>

            <div class="submitBtnDiv">
                <input class="submitBtn" type="submit" id="registerBtn" value="Submit">
            </div>

        </fieldset>
        <a href="/etrade/login">
            <p>Already registered? Sign in</p>
        </a>
    </form>
</section>

<script src="/script/register.js"></script>