<section class="form-container">
    <section>
        <h1>Register</h1>
    </section>
    <form id="register">
        <section class="form-group">
            <input class="form-input" type="text" id="username-signup" placeholder="Username" autocomplete="off"/>
        </section>
        <section class="form-group">
            <input class="form-input" type="text" id="email-signup" placeholder="Email" autocomplete="off"/>
        </section>
        <section class="form-group">
            <input class="form-input" type="password" id="password-signup" placeholder="Password"/>
        </section>
        <section class="form-group">
            <input type="submit" id="login" value="Submit">
        </section>
    </form>
</section>
