<section>
    <section class="user-login" style="float: right;">
        <li>
            {{#if loggedIn}}
            <button id="logout">Logout</button>
            {{else}}
            <a href="/eTrade/login">Sign in</a>
            {{/if}}
        </li>
    </section>
</section>

<section class="form-container">
    <section>
        <h1>Register</h1>
    </section>
    <form id="register-form">
        <section class="form-group">
            <input class="form-input" type="text" id="username" placeholder="Username" autocomplete="off" />
        </section>

        <section class="form-group">
            <input class="form-input" type="password" id="password" placeholder="Password" />
        </section>

        <section class="form-group">
            <input class="form-input" type="text" id="firstname" placeholder="First Name" />
        </section>

        <section class="form-group">
            <input class="form-input" type="text" id="lastname" placeholder="last Name" />
        </section>

        <section class="form-group">
            <input class="form-input" type="text" id="phone" placeholder="Phone Number" />
        </section>

        <section class="form-group">
            <input type="submit" id="registerBtn" value="Submit">

        </section>
    </form>
</section>

<script src="/script/register.js"></script>