<div id="main-page">
    <div class="linked-page">
        <div class="img-logo"></div>
        <div class="linked-page-us">
            <h1>Track Orders</h1>

                <p>
                    Your order has been processed.........
                </p>
        </div>
        <div class="back-home">
            <a href="/eTrade">Back to Home page</a>
        </div>
    </div>
</div>