<section id="main-page">
    <section class="linked-page">
        <section class="img-logo"></section>
        <section class="linked-page-us">
            <h1>Track Orders</h1>

                <p>
                    Your order has been processed.........
                </p>
        </section>
        <section class="back-home">
            <a href="/eTrade">Back to Home page</a>
        </section>
    </section>
</section>