@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --body-bg: #f5f3f3;
    --btn-search-bg: #4295da;
    --btn-search-bg-hov: #117fda;
    --btn-search-bg-hv-col: #d4deeb;
    --btn-search-col: #f8f8f4;
    --user-login-col: #328bdf;
    --user-login-col-hv: #1266e4;
    --container-anchor: #0d7979;
    --container-anc-hv: #074d4d;
    --footer-bg: #79dbbe;
    --footer-p: #797676;
    --footer-anchor: #574e4c;
    --footer-anc-hv: #dc143c;
    --clothes-border: #9fa7a7;
    --clothes-caption: #2569c2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    background-color: var(--body-bg);
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url('../image/eTrade_logo.png') no-repeat center;
    width: 300px;
    height: 100px;
    margin-top: 20px;
}

.search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -100px 0 0 180px;
}

.search-txt {
    font-size: 1.3rem;
    width: 500px;
    height: 50px;
    margin-right: 5px;
    padding: 10px 8px;
}

.btn-search {
    background-color: var(--btn-search-bg);
    color: var(--btn-search-col);
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-search:hover {
    cursor: pointer;
    background-color: var(--btn-search-bg-hov);
    color: var(--btn-search-bg-hv-col);
}

.user-login {
    /* margin-right: 50px; */
    width: 200px;
    list-style: none;
    font-size: 20px;
    margin-top: -100px;
}

.user-login a, span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-login a {
    text-decoration: none;
    color: var(--user-login-col);
}

.user-login a:hover {
    text-decoration: underline;
    color: var(--user-login-col-hv);
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: 81vh;
}

.background-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45vh;
}

.bg-image {
    width: 45%;
}

#container a {
    color: var(--container-anchor);
    font-size: 30px;
    text-decoration: none;
}

#container a:hover {
    text-decoration: underline;
    color: var(--container-anc-hv);
}

.clothing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    width: 250px;
    height: 150px;
    border-radius: 50%;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.clothing-link {
    margin: 25px;
}

#footer {
    background-color: var(--footer-bg);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding-top: 20px;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer p {
    color: var(--footer-p);
    text-align: center;
    margin-top: 20px;
}

.navbar nav {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

.navbar li a {
    font-size: 1.5rem;
    margin-left: 20px;
    text-decoration: none;
    color: var(--footer-anchor);
}

.navbar li a:hover,
footer a:hover {
    text-decoration: underline;
    color: var(--footer-anc-hv);
}

footer a {
    font-size: 1.5rem;
    margin-right: 100px;
    text-decoration: none;
    color: var(--footer-anchor);
}

/* *************** ABOUT US - CONTACT US - CUSTOMER SERVICE - LEGAL PAGE **************** */
#main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
}

.linked-page {
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 15px 10px 10px #999;
    width: 70%;
    height: 70vh;
    padding: 30px;
}

.img-logo {
    background: url('/image/eTrade_logo.png') no-repeat;
    width: 160px;
    height: 150px;
}

.linked-page-us {
    padding: 30px 50px;
}

h1,
p,
h3 {
    margin-bottom: 20px;
}

h1,
h3 {
    color: #747474;
}

p {
    color: #413f3f;
    line-height: 1.8;
}

.back-home {
    padding-left: 50px;
}

.back-home a {
    text-decoration: none;
    color: #229e8e;
}

.back-home a:hover {
    text-decoration: underline;
    color: #066659;
}

/* *************** Mens, Women & Kids page ********** */


#main-clothing-container {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.clothing-area {
    width: 65%;
    height: 80%;
    margin: -50px auto;
}

.box-container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: 330px;
    grid-gap: 50px;
    padding: 50px;
    height: 70vh;
}

.figcaption-img {
    margin-bottom: 20px;
    padding-bottom:30px;
}

.clothes-img {
    width: 100%;
    height: 320px;
    border: 2px solid var(--clothes-border);
}

.grid-box figcaption {
    color: var(--clothes-caption);
    font-size: 12px;
}

/********* login Screen  **********/

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 12px 6px;
    margin-top: 10px;
    width: 650px;
    font-size: 1.5rem;
}

.form-container input[type="submit"] {
    cursor: pointer;
    background-color: var(--btn-search-bg);
    color: var(--btn-search-col);
}

.form-container:hover input[type="submit"] {
    background-color: var(--btn-search-bg-hov);
    color: var(--btn-search-bg-hv-col);
}


/* ****************TESTING Images ***********************/

#result {
    background-image: url();
}

/* **** Media Screen ******/

@media screen and (max-width: 1543px){
    .box-container {
        overflow: scroll;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-auto-rows: 200px;
        grid-gap: 20px;
        padding: 50px;
    }

    .clothes-img {
        width: 60%;
        height: 200px;
        border: 2px solid var(--clothes-border);
    }
}

@media screen and (max-width:1400px) {
    .user-login a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1230px) {

    .logo {
        width: 200px;
    }

    .user-login {
        font-size: 20px;
    }

    .search-txt {
        width: 220px;
    }

    .navbar li a {
        font-size: 15px;
        margin-left: 10px;
    }

    footer a {
        margin-right: 50px;
        font-size: 15px;
    }

    #container a {
        margin-right: 60px;
        font-size: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 1160px){
    .box-container {
        overflow: scroll;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-auto-rows: 350px;
        grid-gap: 20px;
        padding: 50px;
    }

    .grid-box {
        text-align: center;
    }

    .clothes-img {
        width: 60%;
        height: 350px;
        border: 2px solid var(--clothes-border);
    }
}

