/* CSS Properties */

* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-y: hidden;
  background-color: var(--body-bg);
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  height: 200px;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  font-size: 1.3rem;
  width: 500px;
  height: 50px;
  margin-right: 5px;
  padding: 10px 8px;
  border: thin solid rgba(128, 128, 128, 0.5);
}

.btn-search {
  background-color: var(--btn-search-bg);
  color: var(--btn-search-col);
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-search:hover {
  cursor: pointer;
  background-color: var(--btn-search-bg-hov);
  color: var(--btn-search-bg-hv-col);
}

.user-login {
  /* margin-right: 50px; */
  width: 200px;
  list-style: none;
  font-size: 20px;
}

.user-login a,
span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-login a {
  text-decoration: none;
  color: var(--user-login-col);
}

.user-login a:hover {
  text-decoration: underline;
  color: var(--user-login-col-hv);
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  height: 81vh;
}

.background-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45vh;
}

.bg-image {
  width: 45%;
}

#container a {
  color: var(--container-anchor);
  font-size: 30px;
  text-decoration: none;
}

#container a:hover {
  text-decoration: underline;
  color: var(--container-anc-hv);
}

.clothing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  width: 250px;
  height: 150px;
  border-radius: 50%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.clothing-link {
  margin: 25px;
}

#footer {
  background-color: var(--footer-bg);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  padding-top: 20px;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer p {
  color: var(--footer-p);
  text-align: center;
  margin-top: 20px;
}

.navbar nav {
  display: flex;
  list-style: none;
  margin-left: 50px;
}

.navbar li a {
  font-size: 1.5rem;
  margin-left: 20px;
  text-decoration: none;
  color: var(--footer-anchor);
}

.navbar li a:hover,
footer a:hover {
  text-decoration: underline;
  color: var(--footer-anc-hv);
}

footer a {
  font-size: 1.5rem;
  margin-right: 100px;
  text-decoration: none;
  color: var(--footer-anchor);
}

/* *************** ABOUT US - CONTACT US - CUSTOMER SERVICE - LEGAL PAGE **************** */
#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 100vh;
}

.linked-page {
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 15px 10px 10px #999;
  width: 70%;
  height: 70vh;
  padding: 30px;
}

.img-logo {
  background: url("/image/eTrade_logo.png") no-repeat;
  width: 160px;
  height: 150px;
}

.linked-page-us {
  padding: 30px 50px;
}

h1,
p,
h3 {
  margin-bottom: 20px;
}

h1,
h3 {
  color: #747474;
}

p {
  color: #413f3f;
  line-height: 1.8;
}

/* *************** Mens, Women & Kids page ********** */

#main-clothing-container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.clothing-area {
  width: 65%;
  height: 80%;
  margin: -50px auto;
}

.box-container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: 330px;
    grid-gap: 50px;
    padding: 50px;
    height: 70vh;
}


.figcaption-img {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.clothes-img {
  width: 100%;
  height: 320px;
  border: 2px solid var(--clothes-border);
}

.grid-box figcaption {
  color: var(--clothes-caption);
  font-size: 12px;
}

/********* login Screen  **********/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 6px;
  margin-top: 10px;
  width: 650px;
  font-size: 1.5rem;
}

.form-container input[type="submit"] {
  cursor: pointer;
  background-color: var(--btn-search-bg);
  color: var(--btn-search-col);
}

.form-container:hover input[type="submit"] {
  background-color: var(--btn-search-bg-hov);
  color: var(--btn-search-bg-hv-col);
}

/* ****************TESTING Images ***********************/

#result {
  background-image: url();
}

/******************Product Display Page**********************/
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: black;
  margin: 1rem 0;
}

.product-rating{
  color: yellow;
}

.product-rating span{
  font-weight: 600;
  color: black;
}

.product-price{
  margin: 1rem 0;
  font-size: 1 rem;
  font-weight: 700;
}

.product-price span{
  font-weight: 400;
}

.last-price span {
  color: red;
  text-decoration: line-through;
}

.new-price span {
  color: blue;
}

.product-detail h2{
  text-transform: capitalize;
  color: black;
  padding-bottom: 0.6rem;
}

.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url('/image/checked.jpg') left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.purchase-info input,

.purchase-info .btn{
  border: 1.5px solid white;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input{
  width: 60px;
}

.purchase-info .btn{
  cursor: pointer;
  background-color: blue;
}

/* **** Media Screen ******/

@media screen and (max-width: 1543px) {
  .box-container {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-auto-rows: 200px;
    grid-gap: 20px;
    padding: 50px;
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> main
  }
  
  html {
    height: 100%;
  }
  body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  nav ul {
    font-size: 1.3rem;
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  a {
    text-decoration: none;
    color: #555;
  }
  
  figcaption {
      text-align: center;
  }
  
  a:hover {
   color: red;
  }
  
  p {
    color: #555;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.6s;
  }
  
  /* SLIDER FEATURES*/
  
  .slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
  }
  
  .slides {
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input {
    display: none;
  }
  
  .slide {
    width: 20%;
    transition: 2s;
  }
  .slide img {
    width: 800px;
    height: 500px;
  }
  
  /* CSS FOR MANUAL SLIDER*/
  .navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  /*------------------------------------------------*/
  
  .btn:hover {
    background: #563434;
  }
  
  main#main {
    flex: 1 0 auto;
    height:100%;
  }
  .header {
    flex: 0 1 auto;
    background: radial-gradient(#fff, #f8cab8);
  }
  .header .row {
    margin-top: 70px;
  }
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
    height: 370px;
  }
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img {
    width: 100%;
  }
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  
  .title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  h4 {
    color: #555;
    font-weight: normal;
  }
  .col-4 p {
    font-size: 14px;
  }
  
  .col-4:hover {
    transform: translateY(-15px);
  }
  
  .rating .fa {
    color: #ff523b;
  }
  
  /*--------------FOOTER PROPERTIES-----*/
  
  footer {
    flex: 0 1 auto;
    width: 100%;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  footer.p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  /* CSS FOR REGISTER PAGE-----------> */
  
  .form-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-container h1 {
    margin-top: 20px;
    padding-bottom: 25px;
  }
  
  .form-group .form-input {
    width: 500px;
    padding: 10px 8px;
    margin: 0 0 5px 10px;
    font-size: 20px;
  }
  
  .form-group input[type="submit"] {
    width: 500px;
    padding: 10px 8px;
  }
  
  .flex {
    display: flex;
    justify-content: space-around;
  }
  
  .fieldset {
    background-color: #141413;
    padding: 20px;
    width: 30%;
  }
  
  .regBtn {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #registerBtn {
      cursor: pointer;
      background-color: #e0521a;
      color: #fff;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      outline: none;
      padding: 10px 8px;
      margin: 20px 0 5px 12px;
      width: 300px;
  }
  
  
  
  /* -----------Mens, Womens, Kids   page */
  
  
  #main-clothing-container {
      display: flex;
      justify-content: center;
  }
  
  .title {
      text-align: center;
      margin: 80px auto 20px;
  }
  
  .clothing-area {
      width: 65%;
      height: 80%;
      margin: -50px auto;
  }
  
  .box-container {
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(3, 3fr);
      grid-auto-rows: 330px;
      grid-gap: 20px;
      padding: 50px;
      height: 70vh;
  }
  
  
  .clothes-img {
      width: 100%;
      height: 320px;
      border: 2px solid var(--clothes-border);
  }
  
  .grid-box figcaption {
      color: var(--clothes-caption);
      font-size: 12px;
      margin-bottom: 10px;
  }
  
  .price {
      font-weight: 700;
  }
  
  
  /* *************** ABOUT US - CONTACT US - CUSTOMER SERVICE - LEGAL PAGE **************** */
  #main-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      height: 100vh;
  }
  
  .linked-page {
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 15px 10px 10px #999;
      width: 70%;
      height: 70vh;
      padding: 30px;
  }
  
  .img-logo {
      background: url('/image/eTrade_logo.png') no-repeat;
      width: 160px;
      height: 150px;
  }
  
  .linked-page-us {
      padding: 30px 50px;
  }
  
  h1,
  p,
  h3 {
      margin-bottom: 20px;
  }
  
  h1,
  h3 {
      color: #747474;
  }
  
  p {
      color: #413f3f;
      line-height: 1.8;
  }
  
  .back-home {
      padding-left: 50px;
      margin-top: 15px;
  }
  
  .back-home a {
      text-decoration: none;
      color: #229e8e;
  }
  
  .back-home a:hover {
      text-decoration: underline;
      color: #066659;
  }
  
  